<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con"
			 connectionString="Data Source=10.243.207.145,1994;User ID=sa;Password=Medtronic@2023;Initial Catalog=Facility;Integrated Security= False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
